.contact-us {
    display: flex;
    gap: 2rem;
    @include respond-below(xl) {
        flex-wrap: wrap;
    }
    &__form {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        input, textarea {
            padding: 1rem 1.5rem;
            font-size: 1rem;
            font-weight: 400;
            color: $secondColor;
            background: #FFFFFF;
            border: 1px solid rgba(19, 83, 123, 0.12);
            transition: border 0.25s ease-in-out;
            &:focus-visible {
                border-color : $secondColor;
                outline: none;
            }
        }
        input {
            flex: 0 0 calc(50% - 1rem);
            height: 52px;
            @include respond-below(md) {
                padding: 0.75rem 0.5rem;
                flex: 0 0 100%;
            }         
        }
        textarea {
            flex: 0 0 calc(100% - 0rem);
            resize: none;
        }
    }
    &__contact {
        height: fit-content;
        margin: 0 auto;
        background: linear-gradient(180deg, #FFFFFF 0%, #E9F5FD 100%);
        .contact-box {
            min-width: 320px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1.875rem 0.75rem;
            color: $secondColor;
            &:not(:last-of-type) {
                &::after {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    bottom: -2rem;
                    width: calc(100% - 1.5rem);
                    margin: 2rem 0rem;
                    border: 1px solid #EEEEEE;
                }
            } 
            &__icon {
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(17, 60, 80, 0.03);
                border-radius: 5px;
            }
            &__txt {
                font-size: 1.125rem;
                font-weight: 500;
                margin-top: 0.65rem;
                color: inherit;
            }
        }
    }
}