// Start Hero Style
.hero {
    text-align: center;
    padding: 80px 0 110px;
    border-bottom: 1px solid #DCDCDC;
    @include respond-below(sm) {
        padding: 70px 0 90px;
    }
    &__subtitle {
        font-size: 1rem;
        color: $secondColor;
        font-weight: 300;
        letter-spacing: 5.5px;
        text-transform: uppercase;
        margin-bottom: 2.125rem;
        @include respond-below(md) {
            font-size: 0.875rem;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 72px;
        color: $mainColor;
        max-width: 600px;
        margin: 0 auto;
        line-height: 92px;
        margin-bottom: 60px;
        @include respond-below(md) {
            font-size: 50px;
            line-height: 75px;
        }
        @include respond-below(sm) {
            font-size: 35px;
            line-height: 45px;
        }
        span {
            color: transparent;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: $mainColor;
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        justify-content: center;
        .button {
            min-width: 205px;
        }
        @include respond-below(sm) {
            flex-direction: column;
        }
    }
}
// End Hero Style

// Start Our Services Style 
.our-services {
    padding: 70px 0 110px;
    @include respond-below(sm) {
        padding: 50px 0 90px;
    }
    &__title-container {
        text-align: center;
        margin-bottom: 55px;
    }
    &__subtitle {
        font-size: 1rem;
        font-weight: 300;
        color: $secondColor;
        letter-spacing: 5.5px;
        margin-bottom: 13px;
        @include respond-below(md) {
            font-size: 0.875rem;
        }
        @include respond-below(sm) {
            font-size: 0.75rem;
        }
    }
    &__title {
        font-size: 50px;
        font-weight: 600;
        color: $mainColor;
        margin: 0;
        @include respond-below(md) {
            font-size: 40px;
        }
        @include respond-below(sm) {
            font-size: 35px;
        }
    }
    &__slider {
        padding-top: 35px;
        .swiper-slide {
            width: 400px;
            @include respond-below(sm) {
                width: 100%;
            }
        }
    }
}
// End Our Services Style

// Start Recent Work Style 
.recent-work {
    padding: 70px 0 110px;
    @include respond-below(sm) {
        padding: 50px 0 90px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 46px;
        margin-bottom: 45px;
        @include respond-below(xl) {
            flex-direction: column;
            align-items: flex-start;
            gap: 35px;
        }
        @include respond-below(sm) {
            padding: 0 15px;
        }
    }
    &__subtitle {
        font-size: 1rem;
        font-weight: 300;
        color: $secondColor;
        letter-spacing: 5.5px;
        margin-bottom: 13px;
        @include respond-below(md) {
            font-size: 0.875rem;
        }
        @include respond-below(sm) {
            font-size: 0.75rem;
        }
    }
    &__title {
        font-size: 50px;
        font-weight: 600;
        color: $mainColor;
        margin: 0;
        @include respond-below(md) {
            font-size: 40px;
        }
        @include respond-below(sm) {
            font-size: 30px;
        }
    }
    &__statistics {
        display: flex;
        align-items: center;
        gap: 62px;
        @include respond-below(lg) {
            gap: 35px;
        }
        @include respond-below(md) {
            gap: 20px;
            flex-direction: column;
        }
        .statistic-number {
            font-size: 1.5rem;
            color: $mainColor;
            font-weight: 600;
            margin-bottom: 0.625rem;
            @include respond-below(md) {
                font-size: 1.25rem;
            }
        }
        .statistic-label {
            margin: 0;
            font-size: 1.125rem;
            font-weight: 500;
            color: rgba($mainColor, 0.5);
            @include respond-below(sm) {
                font-size: 1rem;
            }
        }
    }
    &__slider {
        .swiper-slide {
            width: 500px;
            @include respond-below(sm) {
                width: 100%;
            }
        }
    }
    &__item {
        &-photo {
            display: block;
            width: 100%;
            height: 300px;
            background: top center no-repeat;
            background-size: cover;
            transition: all 1s ease-in-out;
            border: 1px solid #EEEEEE;
            margin-bottom: 1.375rem;
            &:hover {
                transition: all 10s linear;
                background-position: bottom center;
            }
        }
        &-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-title {
            display: inline-block;
            color: $mainColor;
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 0.75rem;
            text-decoration: none;
            transition: all 0.25s ease-in-out;
            &:hover {
                color: $blue;
            }
            @include respond-below(sm) {
                font-size: 1.125rem;
            }
        }
        &-subtitle {
            font-size: 1.125rem;
            color: rgba($mainColor, 0.68);
            margin: 0;
            @include respond-below(sm) {
                font-size: 0.875rem;
            }
        }
        &-see-more {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            background: #2AABE2;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: relative;
            transition: all 0.25s ease-in-out;
            @include respond-below(sm) {
                width: 45px;
                height: 45px;
            }
            &:hover {
                background: $secondColor;
            }
            &::before {
                content: '';
                background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 1.4C17 1.04638 16.8595 0.707239 16.6095 0.457191C16.3594 0.207142 16.0203 0.0666669 15.6667 0.0666669L5 0C4.64638 0 4.30724 0.140476 4.05719 0.390525C3.80714 0.640573 3.66667 0.979711 3.66667 1.33333C3.66667 1.68696 3.80714 2.02609 4.05719 2.27614C4.30724 2.52619 4.64638 2.66667 5 2.66667H12.4133L1.38667 13.72C1.26169 13.844 1.1625 13.9914 1.09481 14.1539C1.02712 14.3164 0.992268 14.4907 0.992268 14.6667C0.992268 14.8427 1.02712 15.017 1.09481 15.1794C1.1625 15.3419 1.26169 15.4894 1.38667 15.6133C1.51062 15.7383 1.65808 15.8375 1.82056 15.9052C1.98304 15.9729 2.15732 16.0077 2.33333 16.0077C2.50935 16.0077 2.68362 15.9729 2.8461 15.9052C3.00858 15.8375 3.15605 15.7383 3.28 15.6133L14.3333 4.56V12C14.3333 12.3536 14.4738 12.6928 14.7239 12.9428C14.9739 13.1929 15.313 13.3333 15.6667 13.3333C16.0203 13.3333 16.3594 13.1929 16.6095 12.9428C16.8595 12.6928 17 12.3536 17 12V1.4Z' fill='white'/%3E%3C/svg%3E%0A");
                width: 16px;
                height: 16px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
            }
        }
    }
}
// End Recent Work Style 

// Start Need Help Style 
.need-help {
    text-align: center;
    padding: 0 0 110px;
    @include respond-below(sm) {
        padding: 0 0 90px;
    }
    &__subtitle {
        font-size: 1rem;
        font-weight: 300;
        color: $secondColor;
        letter-spacing: 5.5px;
        margin-bottom: 0.75rem;
        text-transform: uppercase;
        @include respond-below(sm) {
            font-size: 0.875rem;
        }
    }
    &__title {
        font-size: 50px;
        font-weight: 600;
        color: $mainColor;
        line-height: 60px;
        max-width: 870px;
        margin: 0 auto 50px;
        text-align: center;
        @include respond-below(md) {
            font-size: 40px;
            line-height: 55px;
        }
        @include respond-below(sm) {
            font-size: 30px;
            line-height: 44px;
        }
    }
}
// End Need Help Style 

